.main-container{
  text-align: center;
  background-color: red;
  margin:0px;
  width: 100vw;
  height: 100vh;
}
.squarer{
  background-color:#0656f5;
  border: 1px;
  border-style: solid;
  border-color: white;
  margin: auto;
  padding:auto;
  display:flex;
  align-items: center;
  align-content: center;
}
.icon{
  margin:auto;
  background-color:red;
  color: violet;
}
.grid-container{
  display: flex;
  color:white;
  margin: auto;
  background-color: aqua;
  justify-content: space-between;
}
